<template>
<div id="teams-list">
	<div class="panel panel-default">
		<div class="panel-heading">Teams list</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
				  <th>#</th>
				  <th>Team</th>
				  <th>MP</th>
				  <th>W</th>
				  <th>L</th>
                  <th>N/R</th>
                  <th>R</th>
                  <th>NRR</th>
                  <th>Pts</th>
				</tr>
			</thead>
			<tbody>
				
			</tbody>
			</table>
		</div>
	</div>
</div>
</template>
<script>
    export default {
    name: 'round-result',
        data: function () {
            return {
                results: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/results/{teamid}')
                .then(function (resp) {
                    app.results = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load results");
                });
        }
    }
</script>