<template>
<div id="teams-list">
	<div class="panel panel-default">
		<div class="panel-heading">Teams list</div>
		<div class="panel-body">
			<table class="table table-bordered table-striped">
			<thead>
				<tr>
				  <th>#</th>
				  <th>Team</th>
				  <th>MP</th>
				  <th>W</th>
				  <th>L</th>
                  <th>N/R</th>
                  <th>R</th>
                  <th>NRR</th>
                  <th>Pts</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="team, index in teams">
                    <td>{{ index+1 }}</td>
                    <td>{{ team.name }}</td>
                    <td>{{ team.total }}</td>
                    <td>{{ team.Won }}</td>
                    <td>{{ team.Lose }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                    <td>{{  }}</td>
                   
                </tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
</template>
<script>
    export default {
    name: 'teams-list',
        data: function () {
            return {
                teams: []
            }
        },
        mounted() {
            var app = this;
            axios.get('/api/v1/standings')
                .then(function (resp) {
                    app.teams = resp.data;
                })
                .catch(function (resp) {
                    alert("Could not load teams");
                });
        }
    }
</script>